<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mybroadcastreceiverapp"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBroadcastReceiverApp"
        tools:targetApi="31">
        <service
            android:name=".MyService"


            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.example.mybroadcastreceiverapp.START_MY_SERVICE"/>
            </intent-filter>


        </service>


        <!--        <activity-->
        <!--            android:name=".ReceiverActivity"-->
        <!--            android:exported="true"-->
        <!--            android:parentActivityName=".MainActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <action android:name="com.jasshugarg.myinnerappbroadcast" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->

        <!--            <meta-data-->
        <!--                android:name="android.app.lib_name"-->
        <!--                android:value="" />-->
        <!--        </activity>-->
        <!--        <activity-->
        <!--            android:name=".SenderActivity"-->
        <!--            android:exported="true"-->
        <!--            android:parentActivityName=".MainActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->

        <!--            <meta-data-->
        <!--                android:name="android.app.lib_name"-->
        <!--                android:value="" />-->
        <!--        </activity>-->

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"

            android:exported="true">

            <intent-filter>

                <action android:name="com.example.mybroadcastreceiverapp.START_MY_SERVICE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED"/>

                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED" />


                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.jasshugarg.ultimateappsender" />


                <data android:scheme="package"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.jasshugarg.ultimateappsender" />
                <action android:name="com.jasshugarg.myinnerappbroadcast" />
                <!---->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--            <meta-data-->
            <!--                android:name="android.app.lib_name"-->
            <!--                android:value="" />-->
        </activity>
    </application>

</manifest>